node_modules
.vscode-test/
.DS_Store
package-lock.json

# local
.env
.env.local
.npmrc
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml

# output directory
build
dist
web-app/build/
web-app/node_modules

# boilerplate
TODO.md
vsc-extension-quickstart.md

# releases
*.vsix
/releases

# other
/other