## Common
.gitignore

## Docs
DEV.md

## VSCode
.vscode/**
.vscode-test/**
vsc-extension-quickstart.md
*.vsix

## Dev Folders
src/**
web-app/**
.env
.prettierrc.js
jest.config.js

## TypeScript
**/tsconfig.json
**/tslint.json
**/*.ts

## Tests
build/test/**