## Common
.gitignore

## VSCode
.vscode
.vscode-test
vsc-extension-quickstart.md

## Modules
node_modules/**
!node_modules/fsevents/**
!node_modules/jsdom/**

## TypeScript
**/tsconfig.json
**/tslint.json
**/*.ts

## Dev Folders
src/**
web-app/**
scripts/**
.env
.prettierrc.js
jest.config.js

## Other
docs
releases
other
DEV.md

## Tests
build/test/**
