## Common
.gitignore

## VSCode
.vscode/**
.vscode-test/**
vsc-extension-quickstart.md

## CI/CD
.circleci

## TypeScript
**/tsconfig.json
**/tslint.json
**/*.ts

## Dev Folders
src/**
web-app/**
scripts/**
.env
.prettierrc.js
jest.config.js

## Icons
docs/{.docusaurus, assets, build, docs, node_modules, src, package.json, docusaurus.config.js, .gitignore, README.md, sidebars.js, yarn.lock}

## Tests
build/test/**

## Docs
DEV.md