.slide-enter {
  max-height: 0;
  overflow: hidden;
}

.slide-enter.slide-enter-active {
  max-height: 100rem;
  overflow: auto;
  transition: max-height 500ms ease-in;
}

.slide-leave {
  max-height: 100rem;
  overflow: auto;
}

.slide-leave.slide-leave-active {
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease-out;
}
